<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <title>spring mvc</title>
</head>
<body>

<form action="addQuestion">
   Question: <input type="text" name=""><br/>
   Answer 1: <input type="text" name=""><br/>
   Answer 2: <input type="text" name=""><br/>
   Answer 3: <input type="text" name=""><br/>
   Answer 4: <input type="text" name=""><br/>
   Your answer
    <select name="answer">
       <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
    </select>
   <input type="submit" value="Accept">

</form>

</body>
</html>