<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet" href="src/main/resources/css/style.css" type="text/css" />

    <title>spring mvc</title>
</head>
<body>
<h1>Quiz Application</h1>

Now is: <b th:text="${execInfo.now.time}"></b>

<div id=loginDiv>

<form  th:action="@{/login}">
    <input type="text" name="login"><br/>
    <input type="password" name="password"><br/>
    <input type="submit" value="Login">
</form>

<form  action="join">
    <input type="submit" value="Join To Us">
</form>
</div>

<a  th:href="@{/email}">Email</a>



</div>

</body>
</html>